## Final Project Submission

Please fill out:
* Student name: Nastaran Nazemian
* Student pace: part time
* Scheduled project review date/time: ??????????
* Instructor name: Eli Thomas
* Blog post URL:?????????????

In [49]:
from bs4 import BeautifulSoup
import requests 
from datetime import datetime
from datetime import date

In [50]:
def search_movies_page(index):
    html_page = requests.get('https://www.imdb.com/search/title/?title_type=feature&release_date=2019-01-01,2020-01-01&countries=us&start=' + str(index * 50 + 1))
    soup = BeautifulSoup(html_page.content, 'html.parser')
    movies = soup.find_all('div', "lister-item-content")
    urls = []
    for i in range(0,len(movies)):
        movies[i]
        movie_url = 'https://www.imdb.com' + movies[i].find('h3', 'lister-item-header').find('a')['href'] 
        urls.append(movie_url)
    return(urls)
index = 0
#url = search_movies_page(0)[11]
#url

In [51]:
def movie_page(url):
    movie_page = requests.get(url)
    movie = BeautifulSoup(movie_page.content, 'html.parser')
    return(movie)

#this_move_page = movie_page(url)
#movie_page(url)

In [52]:
#def movie_id(index,movie_index)    
#     title = {}
#     movie_title_id =search_movies_page(index)[movie_index].split('/')
#     title_id = movie_title_id[-2]
#     title[Title] = title_id 
#return(title)

In [53]:
def movie_id(url):
    title = {}
    movie_title_id = url.split('/')
    title_id = movie_title_id[-2]
    title['Title_id'] = title_id
    return(title)
#movie_id(url)

In [54]:
def boxoffice(url):
    box_office = ['Budget:','Gross USA:','Cumulative Worldwide Gross:','Opening Weekend USA:']
    results = {}
    #this_move_page = movie_page(index,movie_index)
    for x in box_office:
        check_value = this_move_page.find('h4', string= x)
        if check_value is not None:
            x_money = int(check_value.parent.contents[2].replace('$',"").replace(',',""))
            results[x] = x_money
        else:
            results[x] = 'None'
    return(results)
#boxoffice(url)

In [55]:
def movie_info(url):
    results = {}
    #this_move_page = movie_page(index,movie_index)
    title = this_move_page.find('div', class_="title_wrapper").find('h1', class_="").contents[0].replace('\xa0','')   
    year = this_move_page.find('div', class_="title_wrapper").find('a').contents[0]  
    popularity = int(this_move_page.find_all('div', class_ = "titleReviewBarSubItem")[-1].find('span', "subText").contents[0].strip().split(' ')[0].strip().replace(',',''))
    results = {'Title':title,'Year': year,'Popularity':popularity}
    return(results)
#movie_info(url)

In [56]:
def movie_genres(url):
    #this_move_page = movie_page(index, movie_index)
    genres_out = {}
    genres_list = this_move_page.find('div', class_="title_wrapper").find('div', class_="subtext").text.split("|")
    genres = genres_list[2].split()
    genres = list(map(lambda genre: genre.replace(',',""),genres))
    genres_out['Geres'] = genres 
    return(genres_out)
#movie_genres(url)

In [57]:
def movie_runtime(url):
    #this_move_page = movie_page(index,movie_index)
    runtime_out = {}
    runtime = this_move_page.find('h4',string="Runtime:").find_next_sibling('time').text.split()
    runtime_min = int(runtime[0])
    runtime_out['Runtime_min'] = runtime_min
    return(runtime_out)
#movie_runtime(url)

In [58]:
def movie_release_day(url):
    #this_move_page = movie_page(index,movie_index)
    release_day = {}
    release_day_list = this_move_page.find('div', class_ = "subtext").find('a', title = "See more release dates").text.split()
    date = " ".join(release_day_list[0:3])
    release_day_format = datetime.strptime(date, '%d %B %Y').strftime("%m/%d/%Y")
    release_day['Release_day'] = release_day_format
    return(release_day)
#movie_release_day(url)

In [59]:
def rating (url):
    results = {}
    #this_move_page = movie_page(index, movie_index)
    check_rating = this_move_page.find('div', class_="ratingValue")
    if check_rating is not None:
        rating = check_rating.find('strong')['title'].split()
        imdb_rate = float(rating[0])
        rating_count = int(rating[3].replace(',',''))
        results['IMDB_Rate'] = imdb_rate
        results['Rating_count'] = rating_count
    else:
        results['IMDB_Rate'] = 'None'
        results['Rating_count'] = 'None'
        
    check_value = this_move_page.find('div',"metacriticScore score_mixed titleReviewBarSubItem")
    if check_value is not None:  
        meta_score = int(check_value.find('span').text)
        results['Meta_Score'] = meta_score
    else:
        results['Meta_Score'] = 'None'
    return(results)
#rating(url)

In [60]:
def casts_names(url):
    roles = ['Director:','Writers:', 'Stars:','Directors:','Writer:']
    results = {}
    #this_move_page = movie_page(index,movie_index)
    for role in roles:
        check_value = this_move_page.find('h4',string=role)
        name_list = []
        if check_value is not None:
            names = check_value.find_next_siblings('a')
            for name in (names[:3]):
                name_list.append(name.text)
            results[role] = name_list
    return(results)

#casts_names(url)

In [61]:
##Find Number_User_Review, Number_Critical_Review
def review (url):
    results = {}
    #this_move_page = movie_page(index,movie_index)
    check_value = this_move_page.find('div', "titleReviewBarItem titleReviewbarItemBorder")
    if check_value is not None:
        review = check_value.find('span', "subText")
        user = review.find('a').text.split()
        number_user_review = int(user[0].replace(',',''))
        results['User_Review_Number'] = number_user_review
        critic = review.find('a', href = "externalreviews").text.split()
        number_critical_review = int(critic[0])
        results['Critical_Review_Number'] = number_critical_review
    else:
        results['User_Review_Number'] = 'None'
        results['Critical_Review_Number'] = 'None'
    return(results)
#review(url)

In [62]:
##Find Meta_rating,  Genera, and Release_Day---->sub_text(Tird part)
def meta_rate (url):
    results = {}
    #this_move_page = movie_page(index,movie_index)
    check_value = this_move_page.find('div', class_="title_wrapper")
    if check_value is not None:
        sub_text =check_value.find('div', class_ = "subtext").text.split('|')
        meta_rating = sub_text[0].strip()
        results['Meta_Rating'] = meta_rating

    else:
        results['Meta_Rating'] = 'None'
    
    return(results)

#meta_rate(url)

In [63]:
def one_movie_info(url):
    this_move_page = movie_page(url)
    movie_data = {}
    movie_function_list = [movie_id(url), 
                           boxoffice(url), movie_info(url),
                           movie_genres(url), movie_runtime(url),
                           movie_release_day(url), rating (url),
                           casts_names(url), review (url),
                           meta_rate (url)]
    for function in movie_function_list:
        movie_data.update(function)
    return(movie_data)
len(one_movie_info(url))

20

In [64]:
urls = search_movies_page(0)
#print(len(urls))
movies_data = []
for url in urls:
    this_move_page = movie_page(url)
    one_row = one_movie_info(url)
    movies_data.append(one_row)
    #print(len(movies_data))
print(len(movies_data))

50

In [35]:
movies_data = []
for index in range (0,2):
    search_movies_page(index)
    urls = search_movies_page(index)
    print(len(urls))
    for url in urls:
        one_row = one_movie_info(url)
        movies_data.append(one_row)
        #print(len(movies_data))
print(len(movies_data))

50
50
100

In [65]:
import re
import numpy as np
import pandas as pd
import time
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
df = pd.DataFrame(movies_data)
df.head()

,Title_id,Budget:,Gross USA:,Cumulative Worldwide Gross:,Opening Weekend USA:,Title,Year,Popularity,Geres,Runtime_min,...,Rating_count,Meta_Score,Director:,Writers:,Stars:,User_Review_Number,Critical_Review_Number,Meta_Rating,Writer:,Directors:
0,tt8367814,22000000,36296853,114996853,10651884,The Gentlemen,2019,6,"[Action, Comedy, Crime]",113,...,108505,51,[Guy Ritchie],"[Guy Ritchie, Ivan Atkinson, 2 more credits]","[Matthew McConaughey, Charlie Hunnam, Michelle...",844,225,R,NaN,NaN
1,tt7131622,90000000,142502728,374343626,41082018,Once Upon a Time... in Hollywood,2019,8,"[Comedy, Drama]",161,...,442996,None,[Quentin Tarantino],NaN,"[Leonardo DiCaprio, Brad Pitt, Margot Robbie]",4789,593,R,[Quentin Tarantino],NaN
2,tt8946378,40000000,165363234,309232797,26769548,Knives Out,2019,10,"[Comedy, Crime, Drama]",131,...,276642,None,[Rian Johnson],NaN,"[Daniel Craig, Chris Evans, Ana de Armas]",1807,416,PG-13,[Rian Johnson],NaN
3,tt8579674,95000000,159227644,368027644,576216,1917,2019,13,"[Drama, War]",119,...,283077,None,[Sam Mendes],"[Sam Mendes, Krysty Wilson-Cairns]","[Dean-Charles Chapman, George MacKay, Daniel M...",2451,444,R,NaN,NaN
4,tt3281548,40000000,108101214,206006503,16755310,Little Women,2019,18,"[Drama, Romance]",135,...,93971,None,[Greta Gerwig],"[Greta Gerwig, Louisa May Alcott]","[Saoirse Ronan, Emma Watson, Florence Pugh]",722,317,PG,NaN,NaN

In [67]:
df.describe()

,Popularity,Runtime_min,IMDB_Rate,Rating_count,User_Review_Number,Critical_Review_Number
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,76.440000,122.760000,6.870000,151958.680000,1766.020000,286.840000
std,47.560127,24.237397,1.072143,157940.959076,2129.013861,143.064615
min,6.000000,89.000000,2.700000,475.000000,7.000000,25.000000
25%,36.250000,105.750000,6.425000,43635.250000,642.000000,174.750000
50%,75.500000,120.000000,6.900000,108371.000000,1124.500000,288.500000
75%,114.250000,135.000000,7.575000,199291.000000,2064.750000,371.000000
max,166.000000,209.000000,8.500000,758910.000000,9851.000000,669.000000

In [68]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 22 columns):
Title_id                       50 non-null object
Budget:                        50 non-null object
Gross USA:                     50 non-null object
Cumulative Worldwide Gross:    50 non-null object
Opening Weekend USA:           50 non-null object
Title                          50 non-null object
Year                           50 non-null object
Popularity                     50 non-null int64
Geres                          50 non-null object
Runtime_min                    50 non-null int64
Release_day                    50 non-null object
IMDB_Rate                      50 non-null float64
Rating_count                   50 non-null int64
Meta_Score                     50 non-null object
Director:                      46 non-null object
Writers:                       38 non-null object
Stars:                         50 non-null object
User_Review_Number             50 non-null int64
Critical_Review_Number         50 non-null int64
Meta_Rating                    50 non-null object
Writer:                        12 non-null object
Directors:                     4 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 8.7+ KB

(50, 22)